.transactionHistoryTable {
    margin: 5vh auto;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
    border-radius: 0.5rem;
}

.transactionHistoryTable:hover{
    box-shadow: #ff00ff 0px 8px 15px;
}

.headersRow {
    font-size: 1.5rem;
    text-align: center;
}

.columnHeader {
    width: 30%;
    padding: 1rem 5rem;
    background-color: #b96cc1;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.columnHeader:first-child {
    border-radius: 0.5rem 0 0 0;
}

.columnHeader:last-child {
    border-radius: 0 0.5rem 0 0;
}

.valuesRow:last-child .transactionData:first-child {
    border-radius: 0 0 0 0.5rem;
}

.valuesRow:last-child .transactionData:last-child {
    border-radius: 0 0 0.5rem 0;
}

.valuesRow {
    width: 33%;
    color: #310636;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    
}

.valuesRow td {
    padding: 20px 0;
    
}

.valuesRow td:hover {
    background-color: #ff00ff;
    /* Задайте бажаний колір підсвічування */
}

.valuesRow:nth-child(even) {
    background-color: #e4b0eab1;
}